KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/mman/sectionAddresses.o \
$(ARCHDIR)/mman/gdt.o \
$(ARCHDIR)/mman/setGdt.o \
$(ARCHDIR)/devices/tty.o \
$(ARCHDIR)/stream/file.o \
$(ARCHDIR)/stream/stdout.o \
$(ARCHDIR)/stream/stderr.o \
