KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/mman/gdt.o \
$(ARCHDIR)/mman/setGdt.o \
$(ARCHDIR)/mman/MemoryManager.o \
$(ARCHDIR)/mman/KernelSection.o \
$(ARCHDIR)/mman/paging.o \
$(ARCHDIR)/io/tty.o \
$(ARCHDIR)/io/io.o \
$(ARCHDIR)/io/asm_io.o \
$(ARCHDIR)/int/setIDT.o \
$(ARCHDIR)/int/idt.o \
$(ARCHDIR)/int/pic.o \
$(ARCHDIR)/int/isr.o \
$(ARCHDIR)/stream/file.o \
$(ARCHDIR)/stream/stdout.o \
$(ARCHDIR)/stream/stderr.o \
