KERNEL_NOARCH_OBJS=\
$(NOARCHDIR)/io/serial.o \
$(NOARCHDIR)/mman/Heap.o \
$(NOARCHDIR)/mman/HeapFreeBlockList.o \
$(NOARCHDIR)/datalayer/allocator/redBlackTree/rbt.o \
$(NOARCHDIR)/datalayer/allocator/redBlackTree/rbtHelper.o \
$(NOARCHDIR)/datalayer/allocator/allocator.o \
$(NOARCHDIR)/datalayer/directory.o \
$(NOARCHDIR)/datalayer/file.o \
$(NOARCHDIR)/datalayer/pageDir.o \
$(NOARCHDIR)/datalayer/proc.o \
$(NOARCHDIR)/datalayer/ptrBlks.o 

